{
  "extends": ["airbnb"],
  "env": {
    "node": true
  },
  "rules" : {
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export" : 0,
    "max-len": ["warn", 120],
    "strict": [0, "global"],
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "arrow-body-style": 0,
    "no-param-reassign": ["error", { "props": false }],
    "brace-style": ["error", "stroustrup"],
    "no-console": 0
  }
}
